In [2]:
import pandas as pd
import numpy as np

In [3]:
df = pd.read_csv('../src/data/interactions.csv')
df_users = pd.read_csv('../src/data/users.csv')
df_items = pd.read_csv('../src/data/items.csv')

In [118]:
df.head()

   user_id  item_id  progress  rating  start_date
0   126706    14433        80     NaN  2018-01-01
1   127290   140952        58     NaN  2018-01-01
2    66991   198453        89     NaN  2018-01-01
3    46791    83486        23     5.0  2018-01-01
4    79313   188770        88     5.0  2018-01-01

In [139]:
df_users[df_users["user_id"] == 2].values.squeeze()

array([2, '18_24', 0.0], dtype=object)

In [126]:
df_users.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 142888 entries, 0 to 142887
Data columns (total 3 columns):
 #   Column   Non-Null Count   Dtype
---  ------   --------------   -----
 0   user_id  142888 non-null  int64
 1   age      142742 non-null  object
 2   sex      136626 non-null  float64
dtypes: float64(1), int64(1), object(1)
memory usage: 3.3+ MB

In [127]:
df_users.head()

   user_id     age  sex
0        1   45_54  NaN
1        2   18_24  0.0
2        3  65_inf  0.0
3        4   18_24  0.0
4        5   35_44  0.0

In [6]:
df_items.head()

,id,title,genres,authors,year
0,128115,Ворон-челобитчик,"Зарубежные детские книги,Сказки,Зарубежная кла...",Михаил Салтыков-Щедрин,1886
1,210979,Скрипка Ротшильда,"Классическая проза,Литература 19 века,Русская ...",Антон Чехов,1894
2,95632,Испорченные дети,"Зарубежная классика,Классическая проза,Литерат...",Михаил Салтыков-Щедрин,1869
3,247906,Странный человек,"Пьесы и драматургия,Литература 19 века",Михаил Лермонтов,1831
4,294280,Господа ташкентцы,"Зарубежная классика,Классическая проза,Литерат...",Михаил Салтыков-Щедрин,1873

# Cold Start

## Возьмем самое популярное

In [7]:
items_name = df_items[['id', 'title']].set_index('id').sort_index()

In [8]:
items_count = pd.DataFrame(df[['item_id']].value_counts(), columns=['count']).sort_index()

In [9]:
count_titles = items_name.merge(items_count, left_index=True, right_on='item_id')

In [10]:
count_titles.sort_values(by='count', ascending=False).head(10)

                                                     title  count
item_id
99357    Сила подсознания, или Как изменить жизнь за 4 ...   6576
316995            Самая таинственная тайна и другие сюжеты   2706
109201                           Яблоки из сада Шлицбутера   2585
241026                                        Зелёная миля   2300
28889                         Сказки для идиотов (сборник)   2287
121687                                            Снеговик   2245
243711                                      Противостояние   2143
288531                                             Инферно   2138
90225                              Зулейха открывает глаза   2098
26963                                             Шантарам   2078

## Теперь попробуем почистить датасет

In [11]:
items_count = pd.DataFrame(df[df['progress'] > 40][['item_id']].value_counts(), columns=['count']).sort_index()

In [12]:
count_titles = items_name.merge(items_count, left_index=True, right_on='item_id')

In [13]:
count_titles.sort_values(by='count', ascending=False).head(10)

                                                     title  count
item_id
90225                              Зулейха открывает глаза   1071
281005   Богатый папа, бедный папа. Роберт Кийосаки (об...    994
109201                           Яблоки из сада Шлицбутера    946
99357    Сила подсознания, или Как изменить жизнь за 4 ...    796
319390                                            Черновик    720
121687                                            Снеговик    699
264997                                               После    696
89152                                 50 правил умной дуры    595
159580                           Пятьдесят оттенков серого    542
112631                                         После ссоры    527

## Посмотрим какие жанры популярны

In [98]:
items_count = pd.DataFrame(df[df['progress'] > 40][['item_id']].value_counts(), columns=['count']).sort_index()

In [99]:
items_name = df_items[['id', 'title', 'genres']].set_index('id').sort_index()

In [117]:
    items_count = pd.DataFrame(
            df[df["progress"] > 40][["item_id"]].value_counts(), columns=["count"]
    ).sort_index()
    items_name = df_items[['id', 'title', 'genres']].set_index('id').sort_index()
    items_name.genres = items_name.genres.fillna('Другие жанры')
    items_name.genres = items_name.genres.apply(lambda x: x.split(','))
    items_name_exlode = items_name.explode(column='genres')
    items_name_exlode = items_name_exlode[items_name_exlode['genres'] == 'Зарубежные приключения'][['title']]
    count_titles = items_name_exlode.merge(items_count, left_index=True, right_on='item_id')

count_titles.sort_values(by='count', ascending=False)['title'].values[:n]

array(['Шантарам', 'Тень горы', 'Таинственный остров', 'Повелитель мух',
       'Путешественник', 'Двадцать тысяч лье под водой',
       'Два года каникул', 'Песчаный дьявол', 'Женская война',
       'Граф Монте-Кристо', 'Плавающий город', 'Амазония',
       'Костяной лабиринт', 'Всадник без головы', 'Шестое вымирание',
       'Дети капитана Гранта', 'Седьмая казнь', 'Ледяные боги',
       'Крепкие мужчины', 'Пещера', 'Пять недель на воздушном шаре',
       'Мотылек', 'Айвенго', 'Приключения Тома Сойера', 'Сёгун',
       'Две Дианы', 'Белый клык', 'Сердца трех', 'Дети капитана Гранта',
       'Малыш', 'Тонкая работа', 'Первая ночь', 'Три мушкетера',
       'Дальнейшие приключения Робинзона Крузо', 'Черная Индия',
       'Королева Марго', 'Моби Дик, или Белый Кит', 'Песнь бича',
       'Графиня де Монсоро', 'Ким', 'Юные путешественники',
       'Королева Марго',
       'Ужас на поле для гольфа. Приключения Жюля де Грандена (сборник)',
       'Тайпан', 'Порочный круг', 'Айвенго', 'Влюбленные души',
       'Принцесса Марса. Боги Марса. Владыка Марса (сборник)',
       'Пророчество орла', 'Пират. Ключ к сокровищам',
       'Викинги. Ирландская сага', 'Псих', 'Скиталец', 'Затерянный мир',
       'Набег на устричных пиратов',
       'Сын Красного Корсара. Последние флибустьеры',
       'Америка глазами эмигранта. Том 1', 'Сальватор',
       'Вокруг света за 80 дней (в сокращении)',
       'Лев Святого Марка. Варфоломеевская ночь (сборник)',
       'Любовь к жизни', 'Приключения капитана Гаттераса',
       'Англия. Портрет народа', 'Герои Малахова кургана', 'Казан',
       'Капитан Сорви-голова', 'Миссис Брэникен',
       'Ночные всадники. Нарушители закона (сборник)',
       'Черный Карлик. Легенда о Монтрозе (сборник)',
       'Длинноногий дядюшка', 'Робинзон Крузо', 'Лонгхорнские распри',
       'Любовь к жизни (сборник)', 'Хищные птицы', 'Черный корсар',
       'Талисман (сборник)', 'Среди факиров', 'Млисс', 'Белый вождь',
       'Таинственный остров',
       'Тарзан из племени обезьян. Возвращение Тарзана. Тарзан и его звери (сборник)',
       'Пятнадцатилетний капитан', 'Остров сокровищ',
       'Последний из могикан', 'Осада, или Шахматы со смертью',
       'Starlight Ranch, and Other Stories of Army Life on the Frontier',
       'Катриона', 'Революция',
       'В тени вечной красоты. Жизнь, смерть и любовь в трущобах Мумбая',
       'Черный тюльпан. Учитель фехтования (сборник)',
       'Джон Ячменное Зерно. Рассказы разных лет (сборник)',
       'Как Копли Бэнкс прикончил капитана Шарки', 'Всадники равнин',
       'Меч и ятаган', 'Остров Сокровищ',
       'Подвиги бригадира Жерара. Приключения бригадира Жерара (сборник)',
       'Похищенный', 'Чёрная стрела', 'Приключение в воздушном море',
       'По желанию дамы',
       'Капитан Алатристе. Чистая кровь. Испанская ярость. Золото короля (сборник)',
       '«Блуждающий Огонь», или «Крыло-и-Крыло»',
       'Затерянные в Шангри-Ла', 'Робинзон Крузо', 'Казан',
       'Пираты. Рассказы о знаменитых разбойниках', 'Приёмыш обезьяны',
       'Суд фараонов',
       'Сын охотника на медведей. Тропа войны. Зверобой (сборник)',
       'На Дальнем Западе',
       'Белый клык. Любовь к жизни. Путешествие на «Ослепительном» (сборник)',
       'Аку-аку. Тайна острова Пасхи', 'Квентин Дорвард',
       'Клуб самоубийц', 'Красный корсар', 'Гризли (сборник)',
       'Мастер Баллантрэ', 'Белая перчатка', 'Из Африки',
       'Фирман султана', 'Золотой жук (сборник)',
       'Сорок пять. Часть вторая, третья', 'Два года каникул', 'Ева',
       'Копи царя Соломона',
       'Талисман, или Ричард Львиное сердце в Палестине',
       'Благородный Дом. Роман о Гонконге. Книга 2. Рискованная игра',
       'Сокровище Голубых гор', 'Белый Клык (сборник)',
       'Книжные странники', 'Лорды Белого замка', 'Золото Кахамарки',
       'Сальватор. Книга I', 'Дочь Монтесумы', 'Два адмирала',
       'Воспоминания мертвого пилота', 'Исповедь фаворитки',
       'Остров Сокровищ',
       'Великие тайны океанов. Средиземное море. Полярные моря. Флибустьерское море',
       'Ацтек', 'Колония на кратере. «Морские львы» (сборник)',
       'Приключения Найджела', 'Ладья викингов. Белые чужаки',
       'Затерянный мир. Отравленный пояс. Когда мир вскрикнул (сборник)',
       'Тарзан и сокровища Опара',
       'Арсен Люпен – джентльмен-грабитель (сборник)',
       'Прекрасные господа из Буа-Доре', 'Белый вождь',
       'Железная маска (сборник)', 'Месть сыновей викинга',
       'Посол Урус-Шайтана', 'Сердце Мира', 'Квартеронка', 'Жена короля',
       'Пионеры, или У истоков Саскуиханны', 'Орел пустыни',
       'Луговые разбойники', 'Отлив', 'Прогулка по лесам', 'Зверобой',
       'Мужество женщины', 'Гробница судьбы', 'Наемник',
       'Кровавое наследство', 'По зову судьбы', 'Монастырь',
       'Белое безмолвие', 'На берегах Сакраменто',
       'Злой рок короля Генриха', 'Последний кит. В северных водах',
       'Ким', 'Игрок', 'Она', 'Укротитель диких',
       'Ураган. Книга 2. Бегство из рая',
       'Охотница за скальпами. Смертельные враги (сборник)', 'Гайдзин',
       'На берегах Сакраменто', 'Священный Цветок. Суд фараонов',
       'Белый Клык. Рассказы', 'След в ущелье Тимбэл',
       'Как аргонавты в старину…', 'Пират', 'Сын Казана', 'Вне закона',
       'Письма из райских кущ', 'Орли, сын Орлика', 'Краснокожие',
       'Вокруг света с десятью су в кармане', 'Улыбка сорвиголовы',
       'Неуловимый бандит', 'Самый безумный из маршрутов', 'Плач',
       'Рагнар-викинг', 'Золотая молния', 'Неуловимый корсар',
       'Тарзан и его звери', 'Предания о самураях',
       'Трое в лодке, не считая собаки. Трое на четырех колесах (сборник)',
       'Под знаменем Белого Волка', 'Потерпевшие кораблекрушение',
       'Дочь снегов', 'Остров затерянных душ', 'Путешествия Гулливера',
       'Белый отряд', 'Белые и желтые', 'Ночной всадник',
       'Седьмой свиток', 'Служба на купеческом корабле',
       'Гнев викинга. Ярмарка мести', 'Михаил Строгов',
       'Мятеж на «Эльсиноре»', 'Избранное',
       'Книга о разнообразии мира (Избранные главы)',
       'Китобоец «Эссекс». В сердце моря (сборник)', 'Джуд неудачник',
       'Остаться в живых',
       'Робинзон Крузо. Дальнейшие приключения Робинзона Крузо (сборник)',
       'Благородный Дом. Роман о Гонконге. Книга 1. На краю пропасти',
       'Эдинбургская темница',
       'Скарамуш. Возвращение Скарамуша (сборник)',
       'Химия. Узнавай химию, читая классику. С комментарием химика',
       'Сказки 1001 ночи (сборник)', 'Гаванский шторм',
       'Приключения доисторического мальчика', 'Бандит с Черных Холмов',
       'Сорок пять. Часть первая',
       'Авантюристы. Морские бродяги. Золотая Кастилия (сборник)',
       'Эверест. Кому и за что мстит гора?', 'Путешествия Гулливера',
       'Виконт де Бражелон, или Десять лет спустя. Часть пятая',
       'Похождения одной картонки', 'Раффлс, взломщик-любитель (сборник)',
       'Три билета до Эдвенчер',
       'Жизнь и удивительные приключения Робинзона Крузо',
       'Талисман отчаянных',
       'Балканские призраки. Пронзительное путешествие сквозь историю',
       'Хищник', 'Путешествие на «Ослепительном»', 'Черный тюльпан',
       'Царство. Паника', 'Лейденская красавица',
       'Остров затонувших кораблей', 'Сальватор. Книга IV',
       'Ганнибал. Кровавые поля', 'Flagelo',
       'Похождения Червонного валета. Сокровища гугенотов',
       'Морской волк', 'Старинный обычай. Часть первая', 'Тени Солнца',
       'Исчезнувший фрегат',
       'Дрейф. Вдохновляющая история изобретателя, потерпевшего кораблекрушение в открытом океане',
       'Невеста пирата', 'Робин Гуд',
       'Капитан Темпеста. Дамасский Лев. Дочери фараонов',
       'Мудрость снежной тропы', 'Сэр Найджел Лоринг',
       'Ламмермурская невеста', 'Люди тумана', '«Король греков»',
       'Рыжий Орм. Путь викинга', 'Морской волк. Бог его отцов (сборник)',
       'Диктатор', 'Охотники за жирафами',
       'В дебрях Южной Африки, или Приключения бура и его семьи',
       'Бог-скорпион', 'Легенда об Уленшпигеле',
       'Возмутитель спокойствия',
       'Вокруг света в восемьдесят дней. Двадцать тысяч лье под водой',
       'Британия', 'Корабль-призрак', 'Возвращение Дестри',
       'Двадцать тысяч лье под водой', 'Путешествия Лемюэля Гулливера',
       'Отважные мореплаватели',
       'Страна джунглей. В поисках мертвого города', 'Белая крепость',
       'Сын Волка', 'Росс Полдарк',
       'Паспорт человека мира. Путешествие сквозь 196 стран', 'Чужак',
       'Двадцать лет спустя', 'Трагедия с «Короско»',
       'Анкор. Последний принц Атлантиды', 'Джинго',
       'Последний из могикан', 'Клуб самоубийц',
       'Осада «Ланкаширской королевы»', 'Клеопатра', 'Затерянный остров',
       'Вокруг света за восемьдесят дней', 'Убить человека',
       'Тайна замка Роборэй. Виктóр из спецбригады', 'Гладиаторы',
       'Железная маска',
       'Лучшие романы Томаса Майна Рида / The Best of Thomas Mayne Reid',
       'Жемчужина Востока', '«Кон-Тики»', 'Парень с границы',
       'Пограничные стрелки',
       'Авантюры Прантиша Вырвича, школяра и шпика', 'Ослокрады',
       'Морской Ястреб. Одураченный Фортуной. Венецианская маска (сборник)',
       'Повелитель мух / Lord of the Flies', 'Лепт',
       'Зловещий гость (сборник)', 'Первый человек в Риме', 'Избранное',
       'Речной бог', 'Новичок', 'Гнев майя',
       'Потерянный город Обезьяньего бога', 'Дитя из слоновой кости',
       'Экспедиция «Тигрис»', 'Ледовые пираты',
       'Жизнь и приключения Мартина Чезлвита',
       'Десять миллионов Красного Опоссума',
       'Хозяин форта. Возвращение викинга',
       'Меч Ислама. Псы Господни. Черный лебедь (сборник)',
       'Костер в ночи. Мой брат Майкл. Башня из слоновой кости (сборник)',
       'Великая загадка', 'Сказки 1001 ночи', 'Дочь северного сияния',
       'Принц Отто', 'Последний из могикан',
       'В снегах Аляски. Мятежные души', 'Приключения Айши (сборник)',
       'Черный всадник',
       'Черный Корсар. Королева Карибов. Иоланда, дочь Черного Корсара',
       'Блеск шелка', 'Мятеж на «Эльсиноре»',
       'Кавалер в желтом колете. Корсары Леванта. Мост Убийц (сборник)',
       'Царство. Пророчество', 'Ганнибал. Бог войны',
       'Четыре фрейлины двора Людовика XIV', 'Армагеддон. 1453',
       'Братья по крови', 'Ворон. Сыны грома',
       'Ураган. Книга 1. Потерянный рай', 'Птицы, звери и моя семья',
       'Нада',
       'Маргарита Валуа: Прелестная ювелирша. Любовница короля Наваррского',
       'Тайфун у берегов Японии', 'Охота за слоновой костью',
       'Из жизни авантюриста. Эмиссар (сборник)',
       'Пересказ романа Майн Рида «Всадник без головы»',
       'Сокровище Картахены. Береговое братство. Морские титаны (сборник)',
       'Пионеры, или У истоков Сосквеганны. Хижина на холме, или Вайандоте (сборник)',
       'Гром небесный. Дерево, увитое плющом. Терновая обитель (сборник)',
       'Все приключения мушкетеров', 'Завещание мистера Мизона',
       'Трагедия королевы', 'На пути к плахе', 'Короли океана',
       'Captive mistress. English-language novels',
       'Повелитель мух. Бог-скорпион (сборник)', 'Ошибка капитана Шарки',
       'Ворон. Волки Одина', 'Пятнадцатилетний капитан',
       'Семь троп Питера Куинса', 'Мари. Дитя Бури. Обреченный (сборник)',
       'Чёрная стрела', 'Дарина – королева Франції, або Шляхами пірамід',
       'Корсары Южных морей (сборник)', 'Бочка пресной воды',
       'Последний из могикан',
       'Под парусом в одиночку вокруг света. Первое одиночное, безостановочное, кругосветное плавание на парусной яхте',
       'Ледяной ад', 'Посол Урус-Шайтана', 'Аллан Кватермэн',
       'Приключения Тигрового кота', 'Клеопатра', 'Зимовка во льдах',
       'White Fang', 'Нефертити', 'Тропа Джексона', 'Канадские поселенцы',
       'Джерри-островитянин. Майкл, брат Джерри (сборник)', 'Братья',
       'Одиночка Джек', 'Морские волки. Навстречу шторму (сборник)',
       'Бунт на «Баунти»', 'Поющие револьверы', 'Фирман султана',
       'На крыльях орла', 'Вокруг света за восемьдесят дней', 'Спартак',
       'Землемер', 'Королева четырех королевств', 'Шелковый шнурок',
       'Дорога на Север', 'Роб Рой', 'По Уссурийскому краю',
       'Крушение «Великого Океана»', 'Перегруженный ковчег', 'Айвенго',
       'Священный цветок. Чудовище по имени Хоу-Хоу. Она и Аллан. Сокровище озера',
       'Путешествия и приключения капитана Гаттераса',
       'Робинзон Крузо Краткий пересказ произведения Д. Дефо',
       'Владыка мира', 'Смертельная погоня', 'Город Прокаженного короля',
       'Люцифер. Том 1', 'Скарамуш', 'Деметриос Контос',
       'Зверь (сборник)', 'Мопра', 'Опасная игра',
       'Девушка с жемчужной сережкой', 'Миф Линкольна',
       'На суше и на море. Сатанстое (сборник)',
       'Старинный обычай. Часть вторая', 'Плененная фаворитка',
       'Вокруг света за восемьдесят дней', 'Рабы Парижа', 'Королева озер',
       'Дорогой мести', 'Путешествия Гулливера',
       'На троне Великого деда. Жизнь и смерть Петра III', 'В манграх',
       'Белая скво', 'Король сыщиков (сборник)', 'Браво, или В Венеции',
       "П'ятнадцятирічний капітан",
       'Дзэн и искусство ухода за мотоциклом', 'Дорога ветров',
       'Тропой дружбы', '«Ра»', 'Любовь и ветер', 'Ученик архитектора',
       'Спасенный браконьер', 'Аэша', 'Зеленый луч',
       'Вокруг света за 80 дней. Михаил Строгов (сборник)',
       'Белый эскимос', 'Остров Сокровищ',
       'Черный Красавчик: история лошади, рассказанная ею самою',
       'Перстень царицы Савской (сборник)', 'Лик в бездне',
       'Приключения капитана Коркорана', 'Приключения Робинзона Крузо',
       'Рождённая в ночи', 'Монмартрская сирота', 'Путешествия Гулливера',
       'Голубой горизонт', 'Певерил Пик', 'Остров Пасхи',
       'Мчащиеся мустанги', 'Амулет. Святой. Паж Густава Адольфа',
       'The Black Arrow', 'Приключения бригадира Жерара',
       'В сердце моря. Трагедия китобойного судна «Эссекс»',
       'Приключения в стране бизонов', 'Люцифер. Том 2'], dtype=object)

In [84]:
count_titles.genres = count_titles.genres.fillna('NaN')

In [85]:
count_titles.genres = count_titles.genres.apply(lambda x: x.split(','))

In [86]:
count_titles_exlode = count_titles.explode(column='genres') #.pivot_table(index='title', columns='genres')

In [92]:
count_titles_exlode[count_titles_exlode['genres'] == 'Зарубежные приключения'][['title', 'count']].sort_values(by='count', ascending=False)

                                                     title  count
item_id
26963                                             Шантарам    462
306416                                           Тень горы    136
292066                                 Таинственный остров    112
198593                                      Повелитель мух     86
108078                                      Путешественник     59
...                                                    ...    ...
284119                                     The Black Arrow      2
22209                         Приключения бригадира Жерара      2
170237   В сердце моря. Трагедия китобойного судна «Эсс...      2
29758                         Приключения в стране бизонов      1
193348                                      Люцифер. Том 2      1

[454 rows x 2 columns]

In [93]:
items_name

,title,genres
id,,
1,Множественные источники дохода,"Эффективность бизнеса,Финансовый менеджмент,Пр..."
2,"Она не объясняет, он не догадывается. Японское...","Семейная психология,Зарубежная психология,Соци..."
13,Падение,"Зарубежные любовные романы,Остросюжетные любов..."
21,Надо жить умеючи. Архетипы нового века,"Прикладная литература,Общая психология,Публици..."
26,Сетевой маркетинг: методы продаж,"Рукоделие и ремесла,Просто о бизнесе,Другие сп..."
...,...,...
321732,Молитвы на разные случаи,"Православные молитвы,Христианство"
321733,Доктор Кто. Герои и монстры (сборник),"Боевая фантастика,Зарубежная фантастика,Космич..."
321739,Человек в футляре,Современная русская литература
321748,"Хочешь, я буду твоей мамой?",Воспитание детей
321751,Сердца трех,"Книги о приключениях,Зарубежные приключения"